<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-material/paper-material.html">
<link rel="import" href="../bower_components/paper-header-panel/paper-header-panel.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/iron-form/iron-form.html">

<dom-module id="export-page">
  <template>
    <style></style>

    <paper-header-panel>
      <paper-toolbar>
        <div>Export</div>
      </paper-toolbar>

      <paper-material>
        <form is="iron-form">
          <h2>Model</h2>
          <paper-menu>
            <paper-item>Model 1</paper-item>
            <paper-item>Model 2</paper-item>
            <paper-item>Model 3</paper-item>
          </paper-menu>

          <h2>Query</h2>
          <paper-menu>
            <paper-item>Query 1</paper-item>
            <paper-item>Query 2</paper-item>
            <paper-item>Query 3</paper-item>
          </paper-menu>
        </form>
      </paper-material>
    </paper-header-panel>
  </template>
  <script>
    Polymer({
      is: "export-page"
    });
  </script>
</dom-module>